.Offers {
    border: solid black 2px;
    margin: 5px;
    display: flex;
    width: auto;
    justify-content: center;
}

.offerList {
    margin: 27.5px;
}

#offersTitle {
    padding: 5px;
    text-decoration: underline;
}

#offersImg {
    border: solid black 1px;
}

#offersDescription {
    padding: 5px;
}

#offersText {
    margin: 0px;
    width: inherit;
}

span {
    display: block;
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}